.list{
    display: flex;
    flex-direction: row;
    background-color: darkred;
}
.list h2{
    color: white;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.list .links{
    padding-left: 68%;
    margin-top: 25px;
}
.links a{
    text-decoration: none;
    color:white;
    margin-left: 10px;
}
.main{
    display: flex;
    flex-direction: row;
    background-color:rgb(68, 186, 186);
    margin-top: 20px;
    height: 430px;
}
.image img{
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 5%;
}
.content{
    margin-left: 60px;
}
.content h3{
    font-size: 30px;
}
.content p{
    font-size: 20px;
}
.latest{
    margin-top: 10px;
}
.latest h2{
    padding-left: 45%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cards{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.cards .card1{
    width: 300px;
    margin-left: 50px;
}
.cards .card1 button{
    background-color:brown;
    height: 30px;
    color: #ffffff;
}
.cards .card1 button a{
    text-decoration: none;
    color: #ffffff;
}